@import "tailwindcss";

.bg-gradient {
  background-image: linear-gradient(to bottom right,
      rgb(15 23 42),
      /* slate-900 */
      rgb(17 24 39),
      /* gray-900 */
      rgb(30 41 59)
      /* slate-800 */
    );
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: white;
}

/* @import 'tailwindcss';

.bg-gradient {
  @apply bg-gradient-to-br from-slate-900 via-gray-900 to-slate-800 min-h-screen flex items-center justify-center p-4 text-white;
} */